body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #bdc0be, #e3e8e5 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #04b78b, #04b78b 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  padding-left: 160px;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
  padding-left: 160px;
}

.inputtext input{
    width: 55%;
    height: 65px;
    border: 3px solid #333333;
    color: #121212;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    padding: 50px 160px;
    float: left;
    margin-bottom: 15px;
}
 
.new-task input {
    width: 55%;
    height: 50px;
    border: 3px solid #333333;
    color: #121212;
     background-color: rgba(0,0,0,0.30);
    font-size: 20px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.new-task select {
    width: 58.5%;
    height: 50px;
    border: 3px solid #333333;
    color: #121212;
     background-color: rgba(0,0,0,0.30);
    font-size: 20px;
    padding: 0 10px;
    margin-bottom: 15px;
   -webkit-appearance: none;
   }
 
.new-task input:focus{
  outline: 0;
}

.submit-form{
    width: 55%;
    height: 65px;
    border: 3px solid #333333;
    color: #F4F7FA;
    background-color: #0AB259;
    font-size: 28px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    margin-bottom: 50px;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}

table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    padding: 15px;
    padding-left: 160px;
    border-bottom: #eee solid 1px;
}

th, td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #04b78b;
    color: white;
}